* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,181,0,1) 0%, rgba(0,213,255,1) 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* width: 320px; */
}

canvas {
  border: 10px dashed black;
  touch-action: none;
}

h1 {
  text-align: center;
  max-width: 300px;
  font-size: 40px;
  font-weight: bold;
}

button {
  background-color: #fff0;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  /* align-self: flex-end; */
}